@import url("../styles/header.css");
@import url("../styles/banner.css");
@import url("../styles/carrossel.css");
@import url("../styles/topicos.css");
@import url("../styles/contato.css");
@import url("../styles/rodape.css");


:root {
    --cor-de-fundo: #EBECEE;
    --cor-laranja: #EB9B00;
    --cor-azul: #002F52;
    --cor-cinza: #474646;
    --cor-cinza-claro: #858585;
    --cor-preto: #000000;
    --cor-branco: #FFFFFF;
    --cor-azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);


    --fonte-principal: 'Poppins', sans-serif;
    --fonte-logo: 'Josefin Sans', sans-serif;
}

body {
    background: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}


.botoes__ancora:active {
    background-color: var(--cor-azul);
}